@model DataVarma.Models.Car

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>Car</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Color)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Color)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.EngineType)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.EngineType)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.GearType)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.GearType)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.LocationID)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.LocationID)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Model)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Model)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Wheelcount)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Wheelcount)
        </dd>
    </dl>
</div>
<p>
    <a asp-action="Edit" asp-route-id="@Model.CarId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</p>
